html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  color: white;
  font-family: 'Karla', sans-serif;
}

.ingredientes {
  list-style-type: decimal; /* Establece el tipo de numeración */
  padding-left: 20px; /* Añade un espacio a la izquierda para la numeración */
}

li {
  margin-bottom: 10px; /* Espacio entre los elementos de la lista */
}

/* Navbar*/
.navbar {
  z-index: 1;
  position: fixed;
  height: 90px;
  width: 90%;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(#030406, #ffffff00);
}
.nav {
  display: flex;
  gap: 14px;
}
a {
  text-decoration: none;
}
.intro {
  z-index: 1;
  padding: 0 70px;
  height: 100vh;
  background: url(img/Fondo-intro.jpg) center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.intro::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(#030406, #ffffff00, black);
}
.introduccion,
.botella,
.secundari {
  position: relative;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.title {
  font-size: 30px;
}
.koa {
  width: 70%;
  margin: 0 auto;
}
.secundari {
  text-align: end;
}

.facebook {
  z-index: 200;
  position: fixed;
  top: 87%;
  left: 83%;
}
.repo-facebook {
  display: flex;
  align-items: center;
  gap: 14px;
}
.red-social {
  background: #03040690;
  padding: 10px;
  border-radius: 12px;
}
.img-facebook {
  height: 50px;
}

/* article */
.principal-info {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: black;
}
.image_1,
.image_2,
.image_3 {
  display: block;
  width: 33%;
  height: 300px;
  object-fit: cover;
  filter: grayscale();
  transition: all 0.2s;
}
.image_1:hover,
.image_2:hover,
.image_3:hover {
  z-index: 100;
  position: static;
  transform: scaleY(1.05);
  border: solid 5px white;
  border-radius: 12px;
  transition: all 0.2s;
  filter: none;
}

.text-black {
  color: black;
}
.text-gray {
  color: gray;
}
.text-red {
  color: red;
}
.recipe {
  display: flex;
  justify-content: center;
  align-items: center;
}
.py-4 {
  padding: 10px 0;
}

.mr-4 {
  padding-left: 2rem;
}

.recipe-left {
  flex: 0 0 50%;
  display: flex;
  align-items: flex-start;
}

.recipe-img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 0;
}

.recipe-right {
  flex: 0 0 50%; /* El contenido ocupa el 50% del contenedor */
}

.content-container {
  margin-left: 20px; /* Espacio entre la imagen y el contenido */
}

.recipe-text-center {
  padding-top: 20px; /* Espacio superior */
  padding-bottom: 20px; /* Espacio inferior */
}
.preparacion {
  max-width: 80%;
}

.container {
  position: relative;
  width: 100%;
  height: 50vh; /* Ajusta la altura según tus necesidades */
  background-image: url('/img/image2.jpg');
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Color y opacidad del fondo del texto */
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container {
  text-align: center;
  color: white; /* Color del texto */
  padding: 20px;
  max-width: 90%; /* Ajusta el ancho máximo del contenedor de texto */
}

.text-container h1 {
  font-size: 32px; /* Tamaño de fuente del título */
  margin-bottom: 10px;
}

.text-container p {
  font-size: 18px; /* Tamaño de fuente del párrafo */
  margin-top: 0;
}
.footer {
  background-color: black;
  color: white; /* Cambia el color del texto a blanco para mayor contraste */
  padding: 20px;
}

.footer-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
}

.footer-logo img {
  padding-left: 50px;
  width: 150px;
  height: auto;
}



.footer-description {
  margin-right: 20px;
  text-align: center; /* Centra el texto horizontalmente */
  padding: 10px; /* Añade un espacio interno */
  border-radius: 5px; /* Agrega bordes redondeados */
}

.footer-contact {
  width: 30%;
}

.footer-contact h4 {
  margin-bottom: 10px;
  font-size: 18px;
}

.footer-contact p {
  font-size: 14px;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .navbar {
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 0 0;
    height: 60px;
    .logo {
      font-size: 22px;
      font-style: oblique;
    }
  }

  .recipe {
    flex-direction: column;
  }
  .intro {
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    gap: 10px;
    .introduccion {
      width: 100%;
      align-items: center;
    }
    .botella {
      display: none;
    }
    .texto {
      text-align: center;
    }
  }
  .facebook {
    top: 87%;
    left: 50%;
    font-size: 12px;
    .img-facebook {
      height: 20px;
    }
  }
  .recipe {
    flex-direction: column; /* Cambia a una columna en dispositivos móviles */
  }

  .recipe-left,
  .recipe-right {
    flex: 0 0 100%; /* Ambos ocupan el 100% del contenedor en dispositivos móviles */
    padding-left: 0; /* Elimina el espacio lateral en dispositivos móviles */
  }
  .recipe-text-center {
    text-align: center; /* Centrar el texto en todos los dispositivos */
    padding-left: 0; /* Eliminar el padding izquierdo en dispositivos móviles */
  }
  .ingredientes {
    list-style: none;
  }
  .preparacion {
    max-width: 80%; /* Ajusta el ancho máximo del texto al 70% o 80% de la pantalla */
    margin-left: auto; /* Centra el texto horizontalmente */
    margin-right: auto; /* Centra el texto horizontalmente */
  }
  .mr-4 {
    padding-left: 0;
  }
  .container {
    background-image: url('/img/image2short.jpg');
  }
}
